div {
    color: white;
    text-align: center;
}

img{
    height:100px;
}

.vote-item{
    max-width:100%;
    margin: 0 auto;
    padding-right:50px;
}

li {
    list-style: none;
}

h1 {
    padding-top: 20px;
}

.option-row {
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    width:300px;
}

.option {
    padding: 5px;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.option.selected {
    border-color: blue;
    background-color: #add8e6;
}

.submit-vote {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    max-width: 150px;
}
